@model IEnumerable<MovieLibrary.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

<p>
    <a asp-action="Create">Add Movie</a>
</p>

@foreach (var item in Model)
{
    <main class="movie-list">
        <section class="movie-list-item">
            <h3>@Html.DisplayFor(modelItem => item.Title) <span class="year">(@Html.DisplayFor(modelItem => item.ReleaseDate.Year))</span></h3>
            <p>
                <span title="Rated">@Html.DisplayFor(modelItem => item.Rated)</span> |
                <span title="Movie Length">@Html.DisplayFor(modelItem => item.RunTime)</span> |
                <span title="Genre">@Html.DisplayFor(modelItem => item.Genre)</span> |
                <span title="Release Date">@Html.DisplayFor(modelItem => item.ReleaseDate)</span>
            </p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </p>
        </section>
    </main>
    }
