@model IEnumerable<AppCore.Entities.Post>

@{
    ViewData["Title"] = "Simple Blog Posts";
}

<h2>Posts</h2>

<p>
    <a asp-action="Create">Create Post</a>
</p>

@foreach (var item in Model)
{
    <section class="post">
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <p>AwScore: @Html.DisplayFor(modelItem => item.AvgAwScore)</p>
        <p>Written by: @Html.DisplayFor(modelItem => item.Author) | Date: @Html.DisplayFor(modelItem => item.PostDate)</p>
        <div>
            @Html.DisplayFor(modelItem => item.Content)
        </div>
        <p>
            <!--@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |-->
            @Html.ActionLink("See More...", "Post", new { permalink = item.Permalink })
            <!-- |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })-->
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Id) |
            @Html.DisplayFor(modelItem => item.Permalink)
        </p>
    </section>
}